hr {
   background-color: white;
    height:2px;

}
p {
    color:black;
}

button {
    background-color: aliceblue;
}

li {
    color: black;
}

.cornsilk{
    background-color: lightskyblue;
    border:20px;
    border-radius: 20px;
    height: auto;
    width: 80%;
    margin: auto;
}

.black {
    color:black;
}
body {
    background-image: url(../img/100_0629.JPG)
}