/* 
*
*Author: Scott Pinkerton
*Created: ???
*Modified: 9/11/2020
*Mod Log: Added css for db admin page
*         
*/


.cornsilk {
    background-color: cornsilk;
    text-align: center;
    border-radius: 10px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    position:relative;
}
td, th {
    border: 1px dashed white;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
li{
    list-style-type: none;
    
}
li:active a {
    background-color: red;
}

aside {
    float: left;
    width: 150px;
    margin-right: 100px;
}
footer{
    clear: both;
}
